* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

:root {
    --header-height: 60px;
    --footer-height: 60px;
}

body {
    min-height: 100vh;
    position: relative;
    line-height: 1.5rem;
}

.alert {
    width: 20%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: darkred;
    color: white;
    border-radius: 5px;
}

.info {
    width: 20%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: lightgray;
    color: #000;
    text-align: center;
    border-radius: 5px;
}

.container {
    width: 80%;
    margin: 0px auto;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.cnt-evenly {
    justify-content: space-evenly;
}

.stretch {
    align-items: stretch;
}

.end {
    margin-left: auto;
}

form {
    display: flex;
    flex-direction: column;
}

.input-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

input {
    width: 100%;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem auto;
    margin-bottom: 0;
}

input[type="submit"] { 
    width: 50%;
    cursor: pointer;
}

input:focus {
    outline: none;
}

.err-text {
    line-height: 0.8rem;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    text-align: left;
    color: darkred;
}

header {
    background-color: #333;
    color: #fff;
    height: var(--header-height);
    margin-bottom: 1rem;
}

header .container {
    height: 100%;
}

header h1 {
    font-size: 1.5rem;
    margin-right: 3rem;
}

header nav {
    height: 100%;
    display: flex;
    align-items: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    margin-right: 0.5rem;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}

footer {
    height: var(--footer-height);
    width: 100%;
    color: #fff;
    background-color: #333;
    position: absolute;
    bottom: 0;
}

footer .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 1rem 0;
}

section h2 {
    text-align: center;
}

section p {
    margin: 1rem 0;
}

#banner {
    background-color: #f4f4f4;
    text-align: center;
}

.card {
    background-color: #f4f4f4;
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
}

#login .card {
    width: 33%;
}